In [78]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
import os
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import classification_report
from sklearn.naive_bayes import GaussianNB
import sklearn.metrics

In [72]:
df = pd.read_csv('target_app.csv')
df.dtypes

Unnamed: 0          int64
Click_Image         int64
Read_Reviews        int64
Category_View       int64
Read_Details        int64
Video_View          int64
Add_to_List         int64
Compare_Products    int64
View_Similar        int64
Save_for_Later      int64
Personalized        int64
Buy                 int64
dtype: object

In [73]:
df = df.rename(columns={'Unnamed: 0': 'SessionID'})
df.head()

,SessionID,Click_Image,Read_Reviews,Category_View,Read_Details,Video_View,Add_to_List,Compare_Products,View_Similar,Save_for_Later,Personalized,Buy
0,27673,0,1,1,0,1,1,1,1,1,1,1
1,27674,0,0,1,0,1,0,1,0,0,0,0
2,27675,1,0,1,1,0,1,0,1,1,1,1
3,27676,1,1,1,0,1,0,0,0,1,1,0
4,27677,1,1,1,1,0,0,0,1,0,1,1

In [74]:
df.describe()

,SessionID,Click_Image,Read_Reviews,Category_View,Read_Details,Video_View,Add_to_List,Compare_Products,View_Similar,Save_for_Later,Personalized,Buy
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,28172.500000,0.516000,0.497000,0.499000,0.492000,0.511000,0.478000,0.496000,0.479000,0.496000,0.532000,0.536000
std,288.819436,0.499994,0.500241,0.500249,0.500186,0.500129,0.499766,0.500234,0.499809,0.500234,0.499225,0.498952
min,27673.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,27922.750000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,28172.500000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000
75%,28422.250000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
max,28672.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [75]:
df.corr()['Buy']

SessionID          -0.016845
Click_Image         0.202324
Read_Reviews        0.227025
Category_View      -0.082069
Read_Details       -0.054998
Video_View          0.012451
Add_to_List         0.167765
Compare_Products    0.189073
View_Similar        0.225809
Save_for_Later     -0.023486
Personalized       -0.036779
Buy                 1.000000
Name: Buy, dtype: float64

In [76]:
X = df[['Click_Image', 'Read_Reviews', 'Add_to_List', 'Compare_Products', 'View_Similar']]
Y = df.Buy

In [77]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=319)
print(f'''
TAMANHOS
      X train : {X_train.shape}
      X test : {X_test.shape}
      Y train : {Y_train.shape}
      Y test : {Y_test.shape}
''')

TAMANHOS
      X train : (800, 5)
      X test : (200, 5)
      Y train : (800,)
      Y test : (200,)

In [79]:
classifier = GaussianNB()
classifier = classifier.fit(X_train, Y_train)

y_pred = classifier.predict(X_test)

sklearn.metrics.confusion_matrix(Y_test, y_pred)

array([[58, 28],
       [35, 79]], dtype=int64)

In [80]:
sklearn.metrics.accuracy_score(Y_test, y_pred)

0.685

In [83]:
y_prob = classifier.predict_proba(X_test)
y_prob[0,1]

0.6564418448942765

In [86]:
# browsing_data = np.array([0,0,0,0,0]).reshape(1,-1)
browsing_data = np.array([1,1,1,1,1]).reshape(1,-1)
print(f'Propensidade de Compra do Novo Usuário: {classifier.predict_proba(browsing_data)[:,1]}')

Propensidade de Compra do Novo Usuário: [0.91554759]

c:\Users\Computador\anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but GaussianNB was fitted with feature names
  warnings.warn(